<%= form_for(@shared_story) do |f| %>
  <% if @shared_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shared_story.errors.count, "error") %> prohibited this shared_story from being saved:</h2>

      <ul>
      <% @shared_story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.hidden_field :story_id, :value => params[:id] %>

  <div class="field">
	<% @ids = User.pluck(:id) %>
	<% @ids.delete(session[:user_id]) %>
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, @ids, :to_s, :to_s %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
