
<h1>Listing users</h1>
<!-- START_HIGHLIGHT -->
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
<!-- END_HIGHLIGHT -->

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <% if current_user && user.name == current_user.name %>
	    <td><%= link_to 'Show', user %></td>
 	    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  	  <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?',
  	     :method => :delete %></td>
  	<% else %>
  		<td><%= link_to 'Log in', log_in_path %></td>
  	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

