
<h1>Listing users</h1>
<!-- START_HIGHLIGHT -->
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
<!-- END_HIGHLIGHT -->

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'Profile', user %></td>
    <% if current_user && user.name == current_user.name %>
 	    <td><%= edit_path(user) %></td>
  	  <td><%= delete_path(user) %></td>
  	<% else %>
  		<td><%= link_to 'Log in', log_in_by_name_path(user.name) %></td>
  	<% end %>
	<td><%= link_to 'Stories', stories_path(user) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

