<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<%= image_tag @user.photo.url(:small) %> <br />

<% if @user.id == session[:user_id] %>
	<%= edit_path(@user) %>
	<%= delete_path(@user) %> 
	<% @user.stories.each do |story| %>
		<%= link_to 'Edit', edit_story_path(story) %> <br />
	<% end %>
<% end %>

<%= link_to 'Create Story', new_story_path %>