<p id="notice"><%= notice %></p>

<p>
  <b>Chapter:</b>
  <%= @section.chapter_id %>
</p>

<p>
  <b>Title:</b>
  <%= @section.title %>
</p>

<p>
	<b>Content:</b>
		<%= simple_format(@section.section_text, :line_width => 10) %>
</p>

<p>
	<b>Files:</b>
	<% if @section.section_doc.exists? %>
		<%= link_to "Download" @section.section_doc.url(:original, false) %>
	<% else %>
		No files!
	<% end %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', chapter_path(@section.chapter_id) %>
